<br>
<table class="optionsTable">
   <tr>
      <td><label>Buying From:</label></td>
      <td>
         <select id="ddlBuy" name="ddlBuy" (change)="onBuyFromChange($event.target.value)" style="width: 110px">
            <option value="1">Buy Orders</option>
            <option value="2" selected="true">Sell Orders</option>
         </select>
      </td>
      <td><label>Sales + Broker Tax:&nbsp;</label></td>
      <td>
         <input #salesbrokertax name="inpSalBroTax" [(ngModel)]="piCalcService.numSalBroTax" style="width: 70px"
            (keyup.enter)="updateSalBroTax(salesbrokertax.value)" (blur)="updateSalBroTax(salesbrokertax.value)">%
      </td>
   </tr>
   <tr>
      <td><label>Selling To:</label></td>
      <td>
         <select id="ddlSell" name="ddlSell" (change)="onSellToChange($event.target.value)" style="width: 110px">
            <option value="1">Buy Orders</option>
            <option value="2" selected="true">Sell Orders</option>
         </select>
      </td>
      <td><label>POCO Tax:&nbsp;</label></td>
      <td>
         <input #pocotax name="inpPOCOTax" [(ngModel)]="piCalcService.numPOCOTax" style="width: 70px"
            (keyup.enter)="updatePOCOTax(pocotax.value)" (blur)="updatePOCOTax(pocotax.value)">%
      </td>
   </tr>
   <tr>
      <td><label>Prices:</label></td>
      <td>
         <select id="ddlPrices" name="ddlPrices" (change)="onPricesChange($event.target.value)" style="width: 110px">
            <option value="jita" selected="true">Jita</option>
            <option value="amarr">Amarr</option>
         </select>
      </td>
   </tr>
</table>

<br />
<div *ngIf="!loaded">
   <label>Loading Prices...</label>
</div>
<div [hidden]="!loaded">
   <p1-p3></p1-p3>
   <p2-p3></p2-p3>
   <p2-p4></p2-p4>
   <p3-p4></p3-p4>
</div>