<br>
<div class="container-fluid">
   <div class="panel panel-default">
      <table class="table" [mfData]="marketService.data" #mf="mfDataTable">
         <tr>
            <th><mfDefaultSorter by="typeName">Item</mfDefaultSorter></th>
            <th><mfDefaultSorter by="impPrice">Price</mfDefaultSorter></th>
            <th><mfDefaultSorter by="impVolume">Quantity</mfDefaultSorter></th>
            <th><mfDefaultSorter by="avgVol7Day">Avg Quan 7D</mfDefaultSorter></th>
            <th><mfDefaultSorter by="avgRevenue">Market Rev</mfDefaultSorter></th>
            <th><mfDefaultSorter by="expPrice">Export Price</mfDefaultSorter></th>
            <th><mfDefaultSorter by="profit">Profit</mfDefaultSorter></th>
            <th><mfDefaultSorter by="profitPerM3">Profit per m<sup>3</sup></mfDefaultSorter></th>
            <th><mfDefaultSorter by="margin">Margin</mfDefaultSorter></th>
            <th>Doctrines</th>
         </tr>
         <tr *ngFor="let item of mf.data" [ngClass]="{'danger': item.impVolume == 0}">
            <td>{{item.typeName}}</td>
            <td>{{this.fmt(item.impPrice)}}</td>
            <td>{{item.impVolume?.toFixed(0)}} ({{item.impOrders}})</td>
            <td>{{item.avgVol7Day?.toFixed(0)}}</td>
            <td>{{this.fmtBig(item.avgRevenue)}}</td>
            <td>{{this.fmt(item.expPrice)}}</td>
            <td>{{this.fmt(item.profit)}}</td>
            <td>{{this.fmt(item.profitPerM3)}}</td>
            <td>{{this.fmt(item.margin)}}%</td>
            <td>{{item.doctrines}}</td>
         </tr>
      </table>
   </div>
</div>