<table>
    <!-- header row -->
   <tr>
      <td>Commodity</td>
      <td>Cost Price</td>
      <td>Value Price</td>
      <td>Extractor Heads</td>
      <td>Prod/head 1 Day</td>
      <td>Total prod 1 Day</td>
      <td>Total prof 1 Day</td>
      <td>Prod/head 3 Day</td>
      <td>Total prod 3 Day</td>
      <td>Total prof 3 Day</td>
      <td>Prod/head 7 Day</td>
      <td>Total prod 7 Day</td>
      <td>Total prof 7 Day</td>
   </tr>
   <tr *ngFor="let p0 of data">
      <td>{{p0.name}}</td>
      <td>{{p0.jitaSell}}</td>
      <td>{{p0.jitaBuy}}</td>
      <td>{{this.piCalcService.getEHeadsPerPlanet()}}</td>
      <td>{{this.piCalcService.getHourProdPerDur(1)}}</td>
      <td>{{this.piCalcService.getTotalDayProdPerDur(1)}}</td>
      <td>{{this.piCalcService.getTotalDayProdPerDur(1) * p0.jitaBuy}}</td>
      <td>{{this.piCalcService.getHourProdPerDur(3)}}</td>
      <td>{{this.piCalcService.getTotalDayProdPerDur(3)}}</td>
      <td>{{this.piCalcService.getTotalDayProdPerDur(3) * p0.jitaBuy}}</td>
      <td>{{this.piCalcService.getHourProdPerDur(7)}}</td>
      <td>{{this.piCalcService.getTotalDayProdPerDur(7)}}</td>
      <td>{{this.piCalcService.getTotalDayProdPerDur(7) * p0.jitaBuy}}</td>
   </tr>
</table>

<br/>