<table class="table">
    <!-- header row -->
   <tr>
      <td>Commodity</td>
      <td>Cost Price</td>
      <td>Value Price</td>
      <td>Extractor Heads</td>
      <td>Prod/head 1 Day</td>
      <td>Total prod 1 Day</td>
      <td>Total prof 1 Day</td>
   </tr>
   <tr *ngFor="let p0 of data">
      <td>{{p0.name}}</td>
      <td>{{this.piCalcService.formatNumberString(p0.jitaSell)}}</td>
      <td>{{this.piCalcService.formatNumberString(p0.jitaBuy)}}</td>
      <td>{{this.piCalcService.getEHeadsPerPlanet()}}</td>
      <td>{{this.piCalcService.getP0HourProd()}}</td>
      <td>{{this.piCalcService.getP0TotalDayProd()}}</td>
      <td>{{this.piCalcService.getP0TotalDayProfit(p0.jitaBuy)}}</td>
   </tr>
</table>

<br/>