<h3>Raw Extracted</h3>
<div class="panel panel-default">
   <div class="panel-heading">
      Extractor Heads: <b>{{this.piCalcService.getEHeadsPerPlanet()}}</b>,
      Head Prod Per Hour: <b>{{this.piCalcService.getP0HourProd()}}</b>
      <br>
      Output m<sup>3</sup> Per Day: <b>{{this.piCalcService.getP0TotalDayProd() * 0.01}}</b>
   </div>  
   <table class="table">
      <!-- header row -->
      <tr>
         <th>Commodity</th>
         <th>Sell</th>
         <th>Buy</th>
         <th>Total Profit Per Day</th>
      </tr>
      <tr *ngFor="let p0 of data">
         <td>{{p0.name}}</td>
         <td>{{this.piCalcService.formatNumberString(p0.sell)}}</td>
         <td>{{this.piCalcService.formatNumberString(p0.buy)}}</td>
         <td class="posNumColor">{{this.piCalcService.getP0TotalDayProfit(p0.buy)}}</td>
      </tr>
   </table>   
</div>

<br/>