<h3>P1 to P2</h3>
<div class="panel panel-default">
   <div class="panel-heading">
      Advanced Factories: <b>{{this.piCalcService.numP1toP2AdvFact}}</b>,
      P2 Production Per Hour: <b>{{this.piCalcService.getP1toP2FactoryProd().output}}</b>
      <br>
      Input m<sup>3</sup> Per Day: <b>{{(this.piCalcService.getP1toP2FactoryProd().input * 0.38 * 24).toFixed(0)}}</b>, 
      Output m<sup>3</sup> Per Day: <b>{{(this.piCalcService.getP1toP2FactoryProd().output * 1.5 * 24).toFixed(0)}}</b>
   </div> 
   <table class="table">
      <!-- header row -->
      <tr>
         <th>Commodity</th>
         <th>Buy</th>
         <th>Sell</th>
         <th>Inputs</th>
         <th>Total Cost Per Hour</th>
         <th>Total Revenue Per Hour</th>
         <th>Total Profit Per Day (BO)</th>
         <th>Total Profit Per Day (SO)</th>
      </tr>
      <tr *ngFor="let p of data">
         <td>{{p.name}}</td>
         <td>{{p.buy.toFixed(0)}}</td>
         <td>{{p.sell.toFixed(0)}}</td>
         <td>{{this.getPIDataByTypeID(p.input1).name}}, {{this.getPIDataByTypeID(p.input2).name}}</td>
         <td>{{this.piCalcService.formatNumberString(this.piCalcService.getP1toP2TotalCost(this.getPIDataByTypeID(p.input1).sell, 
               this.getPIDataByTypeID(p.input2).sell))}}</td>
         <td>{{this.piCalcService.formatNumberString(this.piCalcService.getP1toP2TotalValue(p.buy))}}</td>
         <td [ngClass]="{'posNumColor': this.isTotalPositive(p, true), 'negNumColor': this.isTotalNegative(p, true)}">
               {{this.piCalcService.formatNumberString(this.getP1toP2TotalProfit(p, true))}}</td>
         <td [ngClass]="{'posNumColor': this.isTotalPositive(p, false), 'negNumColor': this.isTotalNegative(p, false)}">
               {{this.piCalcService.formatNumberString(this.getP1toP2TotalProfit(p, false))}}</td>
      </tr>
   </table>
</div>


<br/>