<h3>Raw Extracted to P1</h3>
<div class="panel panel-default">
   <div class="panel-heading">
      Extractor Heads: <b>{{this.piCalcService.numEtoP1EHeads}}</b>, 
      Basic Factories: <b>{{this.piCalcService.numEtoP1BasFact}}</b>, 
      P1 Per Hour: <b>{{this.piCalcService.getEtoP1FactoryProdDisp()}}</b>
      <br>
      Output m<sup>3</sup> Per Day: <b>{{this.piCalcService.getEtoP1TotalDayProd() * 0.38}}</b>
   </div> 
   <table class="table">
      <!-- header row -->
      <tr>
         <th>Commodity</th>
         <th>Sell</th>
         <th>Buy</th>
         <th>Total Profit Per Day</th>
      </tr>
      <tr *ngFor="let p1 of data">
         <td>{{p1.name}}</td>
         <td>{{p1.sell.toFixed(2)}}</td>
         <td>{{p1.buy.toFixed(2)}}</td>
         <td class="posNumColor">{{this.piCalcService.getEtoP1TotalDayProfit(p1.buy)}}</td>
      </tr>
   </table>
</div>


<br/>