<h3>Raw Extracted to P2, 1 Planet</h3>
<div class="panel panel-default">
   <div class="panel-heading">
      ECUs: <b>2</b>,
      Extractor Heads Per ECU: <b>{{this.piCalcService.numEtoP2EHeads_1P}}</b>, 
      Basic Factories: <b>{{this.piCalcService.numEtoP2BasFact_1P}}</b>, 
      Advanced Factories: <b>{{this.piCalcService.numEtoP2AdvFact_1P}}</b>,
      P2 Prod Per Hour: <b>{{this.piCalcService.getEtoP2FactoryProd_1PDisp()}}</b>
      <br>
      Output m<sup>3</sup> Per Day: <b>{{(this.piCalcService.getEtoP2FactoryProd_1P() * 24 * 1.5).toFixed(0)}}</b>
   </div> 
   <table class="table">
      <!-- header row -->
      <tr>
         <th>Commodity</th>
         <th>Jita Sell</th>
         <th>Jita Buy</th>
         <th>Total Profit Per Day</th>
      </tr>
      <tr *ngFor="let p1 of data">
         <td>{{p1.name}}</td>
         <td>{{p1.jitaSell.toFixed(0)}}</td>
         <td>{{p1.jitaBuy.toFixed(0)}}</td>
         <td class="posNumColor">{{this.piCalcService.getEtoP2TotalDayProfit_1P(p1.jitaBuy)}}</td>
      </tr>
   </table>
</div>


<br/>