<h3>Raw Extracted to P2, 2 Planets</h3>
<div class="panel panel-default">
   <div class="panel-heading">
      Extractor Heads: <b>{{this.piCalcService.numEtoP2EHeads_2P}}</b>, 
      Basic Factories: <b>{{this.piCalcService.numEtoP2BasFact_2P}}</b>, 
      Advanced Factories: <b>{{this.piCalcService.numEtoP2AdvFact_2P}}</b>,
      P2 Prod Per Hour: <b>{{this.piCalcService.getEtoP2FactoryProd_2PDisp()}}</b>
      <br>
      Input m<sup>3</sup> Per Day: <b>{{(this.piCalcService.numEtoP2BasFact_2P * 0.5 * 80 * 24 * 0.38).toFixed(0)}}</b>,
      Output m<sup>3</sup> Per Day: <b>{{(this.piCalcService.getEtoP2FactoryProd_1P() * 24 * 1.5).toFixed(0)}}</b>
   </div> 
   <table class="table">
      <!-- header row -->
      <tr>
         <th>Commodity</th>
         <th>Jita Sell</th>
         <th>Jita Buy</th>
         <th>Total Profit Per Day</th>
      </tr>
      <tr *ngFor="let p1 of data">
         <td>{{p1.name}}</td>
         <td>{{p1.jitaSell.toFixed(0)}}</td>
         <td>{{p1.jitaBuy.toFixed(0)}}</td>
         <td class="posNumColor">{{this.piCalcService.getEtoP2TotalDayProfit_2P(p1.jitaBuy)}}</td>
      </tr>
   </table>
</div>

<br/>