<form>
   <label for="ddlCCU">Command Center Upgrade:</label> 
   <select id="ddlCCU" name="ddlCCU" [(ngModel)]="CCUpgradeSkill" (change)="onCCUChange($event.target.value)">
      <option *ngFor="let val of ddlCCUpgradeVals" [value]="val">{{val}}</option>
   </select>
   <br />
   <input #eheadprod name="inpEHeadProd" [(ngModel)]="EHeadProdPerHour" (keyup.enter)="update(eheadprod.value)" 
         (blur)="update(eheadprod.value)">{{value}}
   <button type="submit" (click)="p0.loadData()">Recalculate</button>
</form>
<br /><br />
<!--<p0-table #p0></p0-table>
<p1-table></p1-table>
<p2-1p-table></p2-1p-table>
<p2-2p-table></p2-2p-table>
<p1-p2-table></p1-p2-table>-->
<p2-p3-table></p2-p3-table>