<br>
<table class="optionsTable">
   <tr>
      <td>
         <label for="ddlCCU">Command Center Upgrade:</label> 
         <select id="ddlCCU" name="ddlCCU" [(ngModel)]="piCalcService.CCUpgradeSkill" (change)="onCCUChange($event.target.value)">
            <option *ngFor="let val of ddlCCUpgradeVals" [value]="val">{{val}}</option>
         </select>
      </td>
      <td>
         <label for="ddlLP">Number of Launchpads:</label> 
         <select id="ddlLP" name="ddlLP" [(ngModel)]="piCalcService.numLaunchpads" (change)="onLPChange($event.target.value)">
            <option *ngFor="let val of ddlLPVals" [value]="val">{{val}}</option>
         </select>
      </td>
      <td>
         <label for="ddlSF">Number of Storage:</label> 
         <select id="ddlSF" name="ddlSF" [(ngModel)]="piCalcService.numStorage" (change)="onSFChange($event.target.value)">
            <option *ngFor="let val of ddlSFVals" [value]="val">{{val}}</option>
         </select>
      </td>
   </tr>
</table>
<label>Production Per Extractor Head:&nbsp;&nbsp;</label>
<input #eheadprod size="10" name="inpEHeadProd" [(ngModel)]="piCalcService.EHeadProdPerHour" 
      (keyup.enter)="updateEHeadProdPerHour(eheadprod.value)" (blur)="updateEHeadProdPerHour(eheadprod.value)">
<br>
<table class="optionsTable">
   <tr>
      <td>
         <label>Number of Links:&nbsp;</label>
         <input #numlinks size="5" name="inpNumLinks" [(ngModel)]="piCalcService.numLinks" 
            (keyup.enter)="updateNumLinks(numlinks.value)" (blur)="updateNumLinks(numlinks.value)">
      </td>
      <td>
         <label>Average Link Length:&nbsp;</label>
         <input #avglinklength size="5" name="inpAvgLinkLength" [(ngModel)]="piCalcService.numAvgLinkLength" 
            (keyup.enter)="updateAvgLinkLength(avglinklength.value)" (blur)="updateAvgLinkLength(avglinklength.value)">km
      </td>
   </tr>
</table>
<table class="optionsTable">
   <tr>
      <td>
         <label>Sales + Broker Tax:&nbsp;</label>
         <input #salesbrokertax size="5" name="inpSalBroTax" [(ngModel)]="piCalcService.numSalBroTax" 
            (keyup.enter)="updateSalBroTax(salesbrokertax.value)" (blur)="updateSalBroTax(salesbrokertax.value)">%
      </td>
      <td>
         <label>POCO Tax:&nbsp;</label>
         <input #pocotax size="5" name="inpPOCOTax" [(ngModel)]="piCalcService.numPOCOTax" 
            (keyup.enter)="updatePOCOTax(pocotax.value)" (blur)="updatePOCOTax(pocotax.value)">%
      </td>
   </tr>
</table>

<!--<button type="submit" (click)="reloadPrices(); p0.loadData()">Reload Prices</button>-->

<br /><br />
<!--<p0-table #p0></p0-table>
<p1-table></p1-table>
<p2-1p-table></p2-1p-table>
<p2-2p-table></p2-2p-table>
<p1-p2-table></p1-p2-table>-->
<p2-p3-table></p2-p3-table>
<!--<p1-p3-table></p1-p3-table>-->